{
	auto_https off
}

:80 {
	encode zstd gzip

	handle /api/* {
		reverse_proxy host.docker.internal:5080
	}

	handle {
		root * /srv/studio
		try_files {path} /index.html
		file_server
	}

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options DENY
	}
}
